    a{text-decoration: none; color: inherit;}
    /* headerì˜ css */
        header{
            width: 1100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        #logo{
            display: inline-block;
            width: 130px;
            height: 70px;
            margin: 10px 30px;
        }
        nav{
            display: inline-block;
            width: 740px;
            height: 30px;
            margin: 30px 30px;
            text-align: right;
        }
        nav li{
            display: inline-block;
            margin-right: 50px;
            font-weight: bold;

        }
        #slider{
            width: 1100px;
            height: 450px;
            background: url(../img/genesis.jpg) no-repeat center/cover;
        }
        section{
            width: 1100px;
            height: 280px;
            display: flex;
            justify-content: space-between;
        }
        article{
            display:inline-block;
            width: 340px;
            height: 145px;
            margin: 50px 10px;
        }
        h3{
            font-size: 14px;
            margin: 5px 0;
        }
        h4{margin: 0; font-size: 14px;}
        #art1 > .row1 > div > p{font-size: 12px; color: rgb(58, 58, 58);}
        #art1 .row1{
            display: flex;
            justify-content: space-between;
        }
        .des{margin-left: 10px;}
        #art2 > img{
            width:302px
        }
        .art3_flex{
            display: flex;
            justify-content: space-between;
        }
        .item{
            width: 80px;
            font-size: 12px;
        }
        .item > img {
            width: 40px;
        }
        .item > p{margin: 0;}
        footer{
            width: 1100px;
            height: 100px;
            background-color: #e8e8e8;
            display: flex;
            align-items: center;
        }
         footer img{
            display: inline-block;
            width: 130px;
            height: 70px;
            margin: 10px 30px;
         }
          footer > p{font-size: 12px; color: gray;}